@font-face {
    font-family: nineties;
    src: url(Windows\ Regular.ttf);
}

body {
    font-family: nineties;
    letter-spacing: .05em;
    background-color:rgb(29, 175, 212);
}

.window {
    background-color: #cbcbcb;
    border-bottom: 5px outset rgb(68, 68, 68);
    border-right: 5px outset rgb(86, 86, 86);
    border-top: 5px outset #dadada;
    border-left: 5px outset #dadada;

    display: inline-block;
    width: 300px;
}

.window-header {
    background: rgb(0,0,209);
    background: linear-gradient(90deg, rgb(24, 66, 235) 0%, rgb(41, 105, 255) 70%);   
    color: white;   

    padding: 0.2em;
}

.window-header p {
    margin: 0;
}