:root {
    --bg: #1a1a1a;
    --font-color: white !important;
    --primary-color: white !important;
    --secondary-color: white !important;
}

@media (max-width: 430px) {
    :root {
        --global-font-size: 12px !important;
    }
}

a:hover {
    background: none !important;
}

.btn-ghost {
    border: 1px solid white !important;
}

a:hover {
    text-decoration: underline !important;
}

button:hover {
    border: 1px solid white !important;
}

body {
    background-color: var(--bg) !important;
    color: white !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;
    gap: 20px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.no-cursor::after {
    display: none !important;
}

.info-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;


}

#info {
    min-width: min(95vw, 400px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#info p {
    margin: 5px;
}

#info p::before {
    display: none !important;
}

#portrait {
    position: relative;
    display: inline-block;
    background: none !important;
    font-size: 0.8vh;
    line-height: 1vh;


    overflow: hidden;

    transition: max-height 3s;
    max-height: 1000px;
}

.hidden {
    max-height: 0px !important;
}

.hidden::after {
    height: 100%;
}

.show-portrait::after {
    height: 0 !important;
}

#portrait p {
    margin: 0;
    text-wrap: nowrap;
    white-space: pre;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between !important;
    align-items: center;
}

.nav-container p {
    margin: 20px 0;
}

.terminal-logo {
    min-width: 200px;
}

@media (max-width: 546px) {
    .terminal-logo {
        padding: 0 0 0.7em 0 !important;
    }
}

*::selection {
    color: black !important;
    background: white !important;
}

p:hover {
    cursor:text;
}

.menu-item {
    text-decoration: underline !important;
}

.btn {
    --font-color: white;

}

.menu ul {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 0.6em;
}

.menu .btn {
    padding-left: 1.3em !important;
    padding-right: 1.3em !important;

}

@media (max-width: 600px) {
    .menu {
        font-size: 14.3px !important;
    }

    #portrait {
        font-size: 0.7vh;
    }
}

ul *::after {
    content: '' !important;
}

li {
    padding-left: 0 !important;
}